include LICENSE-MIT
include README.md
include setup.py
recursive-include cmsplugin_bs4forcascade/locale *
recursive-include cmsplugin_bs4forcascade/static *
recursive-include cmsplugin_bs4forcascade/templates *
recursive-include cmsplugin_bs4forcascade *.py
recursive-exclude tests *
